{
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],

  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },

  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true,
    "node": false
  },

  "rules": {
    "max-len": [2, 120, 2],

    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "sample/**",
        "scripts/**",
        "test/**",
        "gulpfile.js"
      ]
    }],

    "quote-props": ["error", "consistent-as-needed"],
    "no-plusplus": "off",
    "operator-linebreak": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": true,
      "variables": true,
      "allowNamedExports": false
    }],

    "object-curly-newline": ["error", {
      "consistent": true,
      "multiline": true
    }],

    "no-console": ["error", {
      "allow": ["warn", "error"]
    }],

    "valid-jsdoc": [2, {
      "requireReturn": true,
      "requireParamDescription": true,
      "requireReturnDescription": true,
      "prefer": {
        "return": "return",
        "arg": "param",
        "argument": "param"
      },
      "preferType": {
        "object": "object"
      }
    }]
  },

  "overrides": [
    {
      "files": [
        "**/*.ts"
      ],
      "env": {
        "browser": true,
        "es6": true,
        "jasmine": true,
        "node": false
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint"
      ],
      "rules": {
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "comma-dangle": ["error", "always-multiline"],
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ]
}
