# Node/NPM
node_modules/

# Only needed for development.
/.babelrc
/.bowerrc
/.eslintrc
/.gitignore
/.readme
/.travis.yml
/tslint.json
/test
/tasks
/coverage
/gulpfile.js
/karma.common.conf.js
/karma.coverage.conf.js
/karma.saucelab.conf.js
/karma.tdd.conf.js
/karma.test.conf.js
/conf.js
/rollup.conf.js

# Ignore dev source files
/src/core
/src/index.js
