# node
node_modules/

# Only needed for development.
.babelrc
.bowerrc
.eslintrc
.gitignore
.readme
.travis.yml
test/
tasks/
gulpfile.js
karma.common.conf.js
karma.saucelab.conf.js
karma.tdd.conf.js
karma.test.conf.js
conf.js
rollup.conf.js
